<div class="row">
    <div class="col-6">
        <app-dougnut title="Ventas">

        </app-dougnut>
    </div>
    <div class="col-6">
        <app-dougnut [labels]="labels1"
                    [data]="data1"
                    title="Compras">

        </app-dougnut>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <app-dougnut title="Cambio">

        </app-dougnut>
    </div>
    <div class="col-6">
        <app-dougnut title="Resto">

        </app-dougnut>
    </div>

</div>
